
a {
    background-color: rgb(68, 72, 87);
    box-shadow: 0 5px 0 rgb(29, 27, 27);
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: uppercase
}

a:hover {
    background-color: #585353;
    cursor: pointer
}

a:active {
    box-shadow: none;
    top: 5px
}

.ft_scr_cl {
    margin: 1px;
    padding: 1px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer
}

.ft_scr_rem_cl {
    display: inline-block;
    color: blue;
    border: 1px solid gray
}