.git
.vscode

/app/editor/data/
/app/genetic_algorithms/
/app/hud_maker/
/app/image/
/app/neural_network/
/app/tf/
/app/misc/

/ctest/

/lib/neural_network/
/lib/evo/
/lib/editor/

/lib/xml/COLLADA/
/lib/xml/widget/

/lib/gui/image.js
/lib/gui/path.js
/lib/gui/polygon.js

/lib/math/matg.js

/lib/rendering/mesh.js
/lib/rendering/plane.js
/lib/rendering/scene.js

/lib/widget/

/test/data/
/test/editor/
/test/include/
/test/neural_network/
/test/widgets_test/